<!DOCTYPE html>
<html>
<head>
	<title>.: Express Auth :.</title>
	<style>
		#konten{
			display: grid;
			grid-template-columns: 50% 50%;
			max-width: 960px;
			margin-left: 100px;
			margin-right: 100px;
		}
	</style>
</head>
<body>
	<center>
	<h1>Simple Express Authentication</h1>
	<hr>
	<div id="konten">

		<div class="signup">
			<div>
				<h3>Sign Up</h3>
				<div>
					<form action="/user/signup" method="post">
						<input type="text" name="firstName" placeholder="Email..." required="">
						<br><br>
						<input type="text" name="lastName" placeholder="Username..." required="">
						<br><br>
						<input type="text" name="email" placeholder="Password..." required="">
						<br><br>
						<input type="text" name="dob" placeholder="Confirm Password..." required="">
						<br><br>
						<input type="password" name="password" placeholder="Confirm Password..." required="">
						<br><br>
						<input type="submit" value="Register Here!">
					</form>
				</div>
			</div>
		</div>
	</div><br><hr>
</center>
</body>
</html>
